@import './assets/styles/variables.scss';

.center-text {
    margin: auto;
}

.brand {
    padding: 10px;
    .brand-name {
        font-weight: $font-app-title-weight;
        font-size: 24px;
    }
}

.palce-holder {
    text-align: center;
    padding: 30px;
}