.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 8px;
        .stat-count {
            display: grid;
            grid-template-columns: 2fr 1fr;
            .content {
                h4 {
                    margin-bottom: 10px;
                }
               text-align: right;
            }
        }
}

.progress {
    margin-bottom: 10px !important;
}
  
.no-display {
    display: none;
}

@media screen and (max-width: 480px) {
    .row {
        grid-template-columns: 1fr;
        .stat-count {
            grid-template-columns: 1fr 1fr;
        }
    }
}
